.Conversations {
  flex-grow: 1;
  height: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  &__item-avatar {
    margin-right: 16px;
  }
  &__item-text {
    text-align: left;
    min-width: 0;
  }
  &__item-primary-text {
    color: rgba(255, 255, 255, 0.85);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__item-secondary-text {
    color: rgba(255, 255, 255, 0.55);
    font-size: 0.9rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}