@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto:500');

html, body {
  background: #ff9966;
  background: linear-gradient(to right, #ff5e62, #ff9966);
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}